.callout-primary {
  --callout-background-color: #cfe2ff;
  --border-left-line: 15px solid #0c63e4;
  background-color: var(--callout-background-color);
  border-left: var(--border-left-line);
  padding: 10px;
}

.callout {
  --callout-background-color: #f8f9fa;
  --border-left-line: 15px solid #c8cbcf;
  background-color: var(--callout-background-color);
  border-left: var(--border-left-line);
  padding: 10px;
}

.callout-secondary {
  --callout-background-color: #e2e3e5;
  --border-left-line: 15px solid #616971;
  background-color: var(--callout-background-color);
  border-left: var(--border-left-line);
  padding: 10px;
}

.callout {
  --callout-background-color: #f8f9fa;
  --border-left-line: 15px solid #c8cbcf;
  background-color: var(--callout-background-color);
  border-left: var(--border-left-line);
  padding: 10px;
}

.callout-success {
  --callout-background-color: #d1e7dd;
  --border-left-line: 15px solid #177a4c;
  background-color: var(--callout-background-color);
  border-left: var(--border-left-line);
  padding: 10px;
}

.callout {
  --callout-background-color: #f8f9fa;
  --border-left-line: 15px solid #c8cbcf;
  background-color: var(--callout-background-color);
  border-left: var(--border-left-line);
  padding: 10px;
}

.callout-info {
  --callout-background-color: #cff4fc;
  --border-left-line: 15px solid #0cb6d8;
  background-color: var(--callout-background-color);
  border-left: var(--border-left-line);
  padding: 10px;
}

.callout {
  --callout-background-color: #f8f9fa;
  --border-left-line: 15px solid #c8cbcf;
  background-color: var(--callout-background-color);
  border-left: var(--border-left-line);
  padding: 10px;
}

.callout-warning {
  --callout-background-color: #fff3cd;
  --border-left-line: 15px solid #e6ae06;
  background-color: var(--callout-background-color);
  border-left: var(--border-left-line);
  padding: 10px;
}

.callout {
  --callout-background-color: #f8f9fa;
  --border-left-line: 15px solid #c8cbcf;
  background-color: var(--callout-background-color);
  border-left: var(--border-left-line);
  padding: 10px;
}

.callout-danger {
  --callout-background-color: #f8d7da;
  --border-left-line: 15px solid #c6303e;
  background-color: var(--callout-background-color);
  border-left: var(--border-left-line);
  padding: 10px;
}

.callout {
  --callout-background-color: #f8f9fa;
  --border-left-line: 15px solid #c8cbcf;
  background-color: var(--callout-background-color);
  border-left: var(--border-left-line);
  padding: 10px;
}

.callout-light {
  --callout-background-color: #fefefe;
  --border-left-line: 15px solid #dfe0e1;
  background-color: var(--callout-background-color);
  border-left: var(--border-left-line);
  padding: 10px;
}

.callout {
  --callout-background-color: #f8f9fa;
  --border-left-line: 15px solid #c8cbcf;
  background-color: var(--callout-background-color);
  border-left: var(--border-left-line);
  padding: 10px;
}

.callout-dark {
  --callout-background-color: #d3d3d4;
  --border-left-line: 15px solid #1e2125;
  background-color: var(--callout-background-color);
  border-left: var(--border-left-line);
  padding: 10px;
}

.callout {
  --callout-background-color: #f8f9fa;
  --border-left-line: 15px solid #c8cbcf;
  background-color: var(--callout-background-color);
  border-left: var(--border-left-line);
  padding: 10px;
}/*# sourceMappingURL=testCallout2.css.map */